html {
    box-sizing: border-box;
}

*, *:after, *:before{
    box-sizing: inherit;
}

body {
    background: #384E77;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}